## SCRAPING

In [1]:
import pandas as pd
from datetime import datetime
import extraer as ex
import asyncio
import requests as req
from selenium import webdriver
from selenium.webdriver.common.by import By
import time
from webdriver_manager.chrome import ChromeDriverManager
from tqdm.notebook import tqdm
from selenium.webdriver.chrome.options import Options
from joblib import Parallel, delayed
import requests as req
from bs4 import BeautifulSoup as bs 
# opciones del driver
opciones=Options()

# quita la bandera de ser robot
opciones.add_experimental_option('excludeSwitches', ['enable-automation'])
opciones.add_experimental_option('useAutomationExtension', False)
opciones.headless=False    # si True, no aperece la ventana (headless=no visible)
opciones.add_argument('--start-maximized')         # comienza maximizado

# guardar las cookies
#opciones.add_argument('user-data-dir=selenium')    # mantiene las coockies

import warnings
warnings.filterwarnings('ignore')  #Quitar prints de warnings

pd.set_option('display.max_columns', None) #Imprimir todas las columnas

### PARTIDOS

In [ ]:
ex.scraping_matches()

In [ ]:
ex.db_concat.head()

In [ ]:
ex.db_concat.shape

### TEAMS

In [2]:
teams_stats = ['https://fbref.com/en/comps/12/stats/La-Liga-Stats',
               'https://fbref.com/en/comps/17/stats/Segunda-Division-Stats']

In [3]:
lst_df=Parallel(n_jobs=6, verbose=True)(delayed(ex.scraping_teams)(url) for url in tqdm(teams_stats))

  0%|          | 0/2 [00:00<?, ?it/s]

[Parallel(n_jobs=6)]: Using backend LokyBackend with 6 concurrent workers.
[Parallel(n_jobs=6)]: Done   2 out of   2 | elapsed:   53.6s finished

In [6]:
len(lst_df)

2

In [12]:
lst_df[0].columns

Index(['Squad', '# Pl', 'Age', 'Poss', 'MP', 'Starts', 'Min', '90s', 'Gls',
       'Ast', 'G-PK', 'PK', 'PKatt', 'CrdY', 'CrdR', 'Gls', 'Ast', 'G+A',
       'G-PK', 'G+A-PK', 'xG', 'npxG', 'xAG', 'npxG+xAG', 'xG', 'xAG',
       'xG+xAG', 'npxG', 'npxG+xAG'],
      dtype='object')

In [14]:
lst_df[0] = lst_df[0].drop(['xG', 'npxG', 'xAG', 'npxG+xAG', 'xG', 'xAG', 'xG+xAG', 'npxG', 'npxG+xAG'], axis=1)

In [11]:
lst_df[1]

,Squad,# Pl,Age,Poss,MP,Starts,Min,90s,Gls,Ast,G-PK,PK,PKatt,CrdY,CrdR,Gls,Ast,G+A,G-PK,G+A-PK
0,Alavés,23,26.6,44.6,15,165,"1,350",15.0,17,8,16,1,2,34,3,1.13,0.53,1.67,1.07,1.60
1,Albacete,23,27.0,51.9,15,165,"1,350",15.0,17,11,14,3,3,36,3,1.13,0.73,1.87,0.93,1.67
2,Andorra,26,25.7,65.8,15,165,"1,350",15.0,15,11,14,1,1,20,3,1.00,0.73,1.73,0.93,1.67
3,Burgos,23,27.3,41.3,15,165,"1,350",15.0,12,10,11,1,1,31,3,0.80,0.67,1.47,0.73,1.40
4,Cartagena,26,30.9,53.9,15,165,"1,350",15.0,19,13,15,4,4,43,3,1.27,0.87,2.13,1.00,1.87
5,CD Mirandés,24,24.0,48.9,15,165,"1,350",15.0,13,10,12,1,1,29,2,0.87,0.67,1.53,0.80,1.47
6,Eibar,23,28.6,53.3,15,165,"1,350",15.0,18,12,15,3,4,47,4,1.20,0.80,2.00,1.00,1.80
7,Granada,25,28.8,54.2,15,165,"1,350",15.0,14,10,12,2,2,29,1,0.93,0.67,1.60,0.80,1.47
8,Huesca,26,28.4,41.1,15,165,"1,350",15.0,13,9,11,2,2,32,3,0.87,0.60,1.47,0.73,1.33
9,Las Palmas,24,26.6,65.5,15,165,"1,350",15.0,17,14,15,2,2,35,0,1.13,0.93,2.07,1.00,1.93
10,Leganés,25,29.2,52.9,15,165,"1,350",15.0,14,11,13,1,1,39,2,0.93,0.73,1.67,0.87,1.60
11,Levante,25,27.7,51.2,15,165,"1,350",15.0,17,10,15,2,2,53,3,1.13,0.67,1.80,1.00,1.67
12,Lugo,23,27.6,41.9,15,165,"1,350",15.0,15,9,13,2,3,43,4,1.00,0.60,1.60,0.87,1.47
13,Málaga,31,30.5,55.5,15,165,"1,350",15.0,11,5,11,0,0,38,2,0.73,0.33,1.07,0.73,1.07
14,Oviedo,25,28.0,46.5,15,165,"1,350",15.0,9,4,6,3,3,39,2,0.60,0.27,0.87,0.40,0.67
15,Ponferradina,26,27.6,50.7,15,165,"1,350",15.0,16,12,14,2,2,52,1,1.07,0.80,1.87,0.93,1.73
16,Racing Sant,26,26.7,37.9,15,165,"1,350",15.0,6,3,6,0,1,36,5,0.40,0.20,0.60,0.40,0.60
17,Sporting Gijón,26,27.4,45.3,15,165,"1,350",15.0,19,13,19,0,0,31,0,1.27,0.87,2.13,1.27,2.13
18,Tenerife,28,28.6,46.5,15,165,"1,350",15.0,14,9,11,3,3,40,4,0.93,0.60,1.53,0.73,1.33
19,UD Ibiza,26,26.7,48.8,15,165,"1,350",15.0,10,8,9,1,1,45,2,0.67,0.53,1.20,0.60,1.13
20,Villarreal B,27,22.2,50.1,15,165,"1,350",15.0,19,14,18,1,1,36,1,1.27,0.93,2.20,1.20,2.13
21,Zaragoza,25,27.1,53.1,15,165,"1,350",15.0,9,8,9,0,0,40,2,0.60,0.53,1.13,0.60,1.13

In [18]:
df_teams = pd.concat(lst_df)
df_teams.head()

,Squad,# Pl,Age,Poss,MP,Starts,Min,90s,Gls,Ast,G-PK,PK,PKatt,CrdY,CrdR,Gls,Ast,G+A,G-PK,G+A-PK
0,Almería,26,26.5,45.1,14,154,"1,260",14.0,16,12,16,0,0,47,3,1.14,0.86,2.00,1.14,2.00
1,Athletic Club,25,27.9,52.4,14,154,"1,260",14.0,23,17,21,2,3,23,1,1.64,1.21,2.86,1.50,2.71
2,Atlético Madrid,23,29.0,49.8,14,154,"1,260",14.0,20,16,20,0,0,43,2,1.43,1.14,2.57,1.43,2.57
3,Barcelona,25,26.5,64.3,14,154,"1,260",14.0,33,23,33,0,1,33,3,2.36,1.64,4.00,2.36,4.00
4,Betis,27,28.8,50.1,14,154,"1,260",14.0,16,9,13,3,3,33,7,1.14,0.64,1.79,0.93,1.57

In [19]:
df_teams.reset_index(drop=True, inplace=True)
df_teams.tail()

,Squad,# Pl,Age,Poss,MP,Starts,Min,90s,Gls,Ast,G-PK,PK,PKatt,CrdY,CrdR,Gls,Ast,G+A,G-PK,G+A-PK
37,Sporting Gijón,26,27.4,45.3,15,165,"1,350",15.0,19,13,19,0,0,31,0,1.27,0.87,2.13,1.27,2.13
38,Tenerife,28,28.6,46.5,15,165,"1,350",15.0,14,9,11,3,3,40,4,0.93,0.60,1.53,0.73,1.33
39,UD Ibiza,26,26.7,48.8,15,165,"1,350",15.0,10,8,9,1,1,45,2,0.67,0.53,1.20,0.60,1.13
40,Villarreal B,27,22.2,50.1,15,165,"1,350",15.0,19,14,18,1,1,36,1,1.27,0.93,2.20,1.20,2.13
41,Zaragoza,25,27.1,53.1,15,165,"1,350",15.0,9,8,9,0,0,40,2,0.60,0.53,1.13,0.60,1.13

In [21]:
print("Saving csv")
df_teams.to_csv(r'../data/teams.csv')
print("File Saved")

Saving csv
File Saved

### JUGADORES

In [ ]:
datos2 = []

In [49]:
lst_df = Parallel(n_jobs=6, verbose=True)(delayed(ex.scraping_players)(url) for url in tqdm(teams_stats))

  0%|          | 0/2 [00:00<?, ?it/s]

[Parallel(n_jobs=6)]: Using backend LokyBackend with 6 concurrent workers.
[Parallel(n_jobs=6)]: Done   2 out of   2 | elapsed: 15.1min finished

In [52]:
lst_df[0].head()

,Rk,Player,Nation,Pos,Squad,Age,Born,MP,Starts,Min,90s,Gls,Ast,G-PK,PK,PKatt,CrdY,CrdR,Gls,Ast,G+A,G-PK,G+A-PK,xG,npxG,xAG,npxG+xAG,xG,xAG,xG+xAG,npxG,npxG+xAG,Matches
0,1,Marcos Acuña,ar ARG,DF,Sevilla,31-015,1991,10,7,551,6.1,0,0,0,0,0,4,1,0.00,0.00,0.00,0.00,0.00,0.3,0.3,1.1,1.4,0.05,0.17,0.22,0.05,0.22,Matches
1,2,Álvaro Aguado,es ESP,MF,Valladolid,26-195,1996,13,8,747,8.3,0,2,0,0,0,1,0,0.00,0.24,0.24,0.00,0.24,0.2,0.2,0.9,1.1,0.03,0.10,0.13,0.03,0.13,Matches
2,3,Joseph Aidoo,gh GHA,DF,Celta Vigo,27-044,1995,14,14,"1,260",14.0,1,0,1,0,0,2,0,0.07,0.00,0.07,0.07,0.07,0.5,0.5,0.0,0.5,0.03,0.00,0.04,0.03,0.04,Matches
3,4,Sergio Akieme,es ESP,DF,Almería,24-331,1997,14,14,"1,260",14.0,0,0,0,0,0,3,0,0.00,0.00,0.00,0.00,0.00,0.9,0.9,0.7,1.6,0.07,0.05,0.11,0.07,0.11,Matches
4,5,Paul Akouokou,ci CIV,MF,Betis,24-327,1997,6,2,238,2.6,0,0,0,0,0,2,0,0.00,0.00,0.00,0.00,0.00,0.1,0.1,0.0,0.1,0.04,0.00,0.04,0.04,0.04,Matches

In [54]:
lst_df[0].columns

Index(['Rk', 'Player', 'Nation', 'Pos', 'Squad', 'Age', 'Born', 'MP', 'Starts',
       'Min', '90s', 'Gls', 'Ast', 'G-PK', 'PK', 'PKatt', 'CrdY', 'CrdR',
       'Gls', 'Ast', 'G+A', 'G-PK', 'G+A-PK', 'xG', 'npxG', 'xAG', 'npxG+xAG',
       'xG', 'xAG', 'xG+xAG', 'npxG', 'npxG+xAG', 'Matches'],
      dtype='object')

In [55]:
lst_df[0] = lst_df[0].drop(['xG', 'npxG', 'xAG', 'npxG+xAG', 'xG', 'xAG', 'xG+xAG', 'npxG', 'npxG+xAG', 'Matches'], axis=1)

In [53]:
lst_df[1].head()

,Rk,Player,Nation,Pos,Squad,Age,Born,MP,Starts,Min,90s,Gls,Ast,G-PK,PK,PKatt,CrdY,CrdR,Gls,Ast,G+A,G-PK,G+A-PK,Matches
0,1,Haitam Abaida,ma MAR,FW,Málaga,20-164,2002,2,0,45,0.5,0,0,0,0,0,0,0,0.00,0.00,0.00,0.00,0.00,Matches
1,2,Sabit Abdulai,gh GHA,MF,Ponferradina,23-185,1999,12,6,486,5.4,0,1,0,0,0,4,0,0.00,0.19,0.19,0.00,0.19,Matches
2,3,Amir Abedzadeh,ir IRN,GK,Ponferradina,29-200,1993,11,11,990,11.0,0,0,0,0,0,0,0,0.00,0.00,0.00,0.00,0.00,Matches
3,4,Abel,es ESP,"MF,FW",Oviedo,22-083,2000,13,7,650,7.2,0,0,0,0,0,2,0,0.00,0.00,0.00,0.00,0.00,Matches
4,5,Abdelkabir Abqar,ma MAR,DF,Alavés,23-247,1999,14,13,"1,143",12.7,1,0,1,0,0,4,0,0.08,0.00,0.08,0.08,0.08,Matches

In [56]:
lst_df[1] = lst_df[1].drop('Matches', axis=1)

In [65]:
df_players = pd.concat(lst_df)
df_players.head()

,Rk,Player,Nation,Pos,Squad,Age,Born,MP,Starts,Min,90s,Gls,Ast,G-PK,PK,PKatt,CrdY,CrdR,Gls,Ast,G+A,G-PK,G+A-PK
0,1,Marcos Acuña,ar ARG,DF,Sevilla,31-015,1991,10,7,551,6.1,0,0,0,0,0,4,1,0.00,0.00,0.00,0.00,0.00
1,2,Álvaro Aguado,es ESP,MF,Valladolid,26-195,1996,13,8,747,8.3,0,2,0,0,0,1,0,0.00,0.24,0.24,0.00,0.24
2,3,Joseph Aidoo,gh GHA,DF,Celta Vigo,27-044,1995,14,14,"1,260",14.0,1,0,1,0,0,2,0,0.07,0.00,0.07,0.07,0.07
3,4,Sergio Akieme,es ESP,DF,Almería,24-331,1997,14,14,"1,260",14.0,0,0,0,0,0,3,0,0.00,0.00,0.00,0.00,0.00
4,5,Paul Akouokou,ci CIV,MF,Betis,24-327,1997,6,2,238,2.6,0,0,0,0,0,2,0,0.00,0.00,0.00,0.00,0.00

In [66]:
df_players.reset_index(drop=True, inplace=True)
df_players.tail()

,Rk,Player,Nation,Pos,Squad,Age,Born,MP,Starts,Min,90s,Gls,Ast,G-PK,PK,PKatt,CrdY,CrdR,Gls,Ast,G+A,G-PK,G+A-PK
1090,552,Ekain Zenitagoia,es ESP,FW,UD Ibiza,28-315,1994,14,10,896,10.0,2,2,1,1,1,2,0,0.20,0.20,0.40,0.10,0.30
1091,553,Luca Zidane,fr FRA,GK,Eibar,24-183,1998,4,4,360,4.0,0,0,0,0,0,0,0,0.00,0.00,0.00,0.00,0.00
1092,554,Elady Zorrilla,es ESP,"FW,MF",Tenerife,32-122,1990,3,0,79,0.9,1,0,0,1,1,0,0,1.14,0.00,1.14,0.00,0.00
1093,555,Loren Zúñiga,es ESP,FW,Málaga,19-298,2003,8,2,256,2.8,0,0,0,0,0,1,0,0.00,0.00,0.00,0.00,0.00
1094,556,Uroš Đurđević,me MNE,FW,Sporting Gijón,28-255,1994,14,11,960,10.7,2,1,2,0,0,2,0,0.19,0.09,0.28,0.19,0.28

In [68]:
df_players = df_players.drop('Rk', axis=1)
df_players.head()

,Player,Nation,Pos,Squad,Age,Born,MP,Starts,Min,90s,Gls,Ast,G-PK,PK,PKatt,CrdY,CrdR,Gls,Ast,G+A,G-PK,G+A-PK
0,Marcos Acuña,ar ARG,DF,Sevilla,31-015,1991,10,7,551,6.1,0,0,0,0,0,4,1,0.00,0.00,0.00,0.00,0.00
1,Álvaro Aguado,es ESP,MF,Valladolid,26-195,1996,13,8,747,8.3,0,2,0,0,0,1,0,0.00,0.24,0.24,0.00,0.24
2,Joseph Aidoo,gh GHA,DF,Celta Vigo,27-044,1995,14,14,"1,260",14.0,1,0,1,0,0,2,0,0.07,0.00,0.07,0.07,0.07
3,Sergio Akieme,es ESP,DF,Almería,24-331,1997,14,14,"1,260",14.0,0,0,0,0,0,3,0,0.00,0.00,0.00,0.00,0.00
4,Paul Akouokou,ci CIV,MF,Betis,24-327,1997,6,2,238,2.6,0,0,0,0,0,2,0,0.00,0.00,0.00,0.00,0.00

In [70]:
print("Saving csv")
df_players.to_csv(r'../data/players.csv')
print("File Saved")

Saving csv
File Saved

### ESTADIOS

In [ ]:
url = 'https://hmong.es/wiki/List_of_stadiums_in_Spain'

In [ ]:
estadios = ex.scraping_estadios(url)

In [ ]:
estadios.head()

In [ ]:
print("Saving csv")
estadios.to_csv(r'../data/stadiums.csv')
print("File Saved")